header {
    background-color: #9DC7C8;
}

h1 {
    background-color: #B9A4A2;
    color: #4B2840;
}

h2 {
    background-color: aliceblue;
    color: #2E4057;
}

.active {
    color: #0B8421;
}

nav a:hover {
    background-color: #D4C5E2;
}

section {
    background-color: #B3BBBD;
    padding: 30px;
}

img {
    margin: 50px;
    border: 2px solid black;
}

#kayak {
    height: 20%;
    width: 20%;
}

#escape {
    height: 300px;
    width: 400px;
}

#myself {
    height: 24%;
    width: 24%;
}

#animals {
    height: 40%;
    width: 40%;
}

#grocerylist {
    height: 40%;
    width: 40%;
}

#homecontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

div p {
    text-align: center;
    color: #28464B;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: blue;
    padding: 10px;
}

section a {
    color: #B8336A;
}

form {
    background-color:#BCCEF1 ;
    padding: 2rem;
    margin: 20px;
    margin-right: 60vw;
}

#submit {
    background-color: #C9DBBA;
    padding: 5px 8px;
    margin-left: 3rem;
}

#poem {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 200px;
}

#author {
    align-self: flex-end;
}


@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    #homecontent {
        flex-direction: column;
    }
}