html {
    background-image: url("./lassen.JPG");
    background-size: cover;
}

header {
    background-color: #a9c6ef;
}

h1 {
    color: #575761;
}
/*
TODO: change color scheme
 h2 {
    background-color: aliceblue;
    color: #2E4057;
} */

.active {
    color: #0B8421;
}

nav a:hover {
    background-color: #d1dfcd;
}

section {
    background-color: #d1dfcd;
    padding: 10px;
    margin: 10px;
}

img {
    margin: 50px;
    border: 2px solid black;
    width: 70%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: blue;
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.bigFlex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skill {
    flex-grow: 2;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    #homecontent {
        flex-direction: column;
    }
}