html {
    background-image: url("./pictures/lassen.JPG");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #a9c6ef;
}

h1 {
    color: #186318;
}

h2 {
    color: #205AAC;
}

div h2 {
    margin-left: 1vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 a {
    color: #205AAC;
}

button {
    background-color: #E9EFE7;
    border: solid #575761 1px;
    padding: 2px;
    margin: 5px;
    margin-left: 40px;
}

.active {
    color: #0B8421;
}

nav a:hover {
    background-color: #d1dfcd;
}

section {
    background-color: #d1dfcd;
    padding: 10px;
    margin: 10px;
}

img {
    margin: 5vw;
    border: 2px solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: blue;
    padding: 10px;
}

#flex {
    display: flex;
    justify-content: space-around;
}

.bigFlex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skill {
    flex-grow: 2;
}

#contact {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.resume {
    padding-top: 0px; 
    margin-top: 0px;
}

.contact {
    text-align: center;
}

.screenshot {
    margin: 0vw 1vw;
    width: 50vw;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .bigFlex {
        flex-direction: column;
    }
}