div {
    background-color:#8CBA80 ;
    border: 2px #7d8cc4 dashed;
    padding: 30px;
    margin: auto;
}
section {
    background-color:#C680A6 ;
    border: 2px #efb0a1 dashed;
    padding: 20px;
    margin: 30px;
    width: 300px;
    display: inline-block;
}
img {
    padding:20px;
    height: 20%;
    width: 20%;
    display:block;
}